<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous">
    <link th:href="@{/css/books-list.css}" rel="stylesheet">
    <link th:href="@{/css/container-bg.css}" rel="stylesheet">

    <!--<script type = "text/javascript" th:src = "@{/js/actions.js}"></script>-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>
    <style>
        body {
            background-image: url("https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=841&q=80");
            background-size: cover;
        }
    </style>
</head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div class="container-fluid pt-3 pb-1 text-center container-bg">
    <h2>Authors</h2>
    <hr class="style-one">
</div>
</br>
<section class="search-sec container-bg">
    <div class="container">
        <div class="col-lg-12">
            <form class="d-flex flex-row" th:action="@{/authors}">
                <div class="w-15 justify-content-center align-self-center"> Filter:</div>
                <input type="text" class="form-control search-slt" name="keyword" id="keyword" size="50"
                       th:value="${keyword}" required/>
                &nbsp;
                <input type="submit" class="w-15 btn btn-info" value="Search"/>
                &nbsp;
                <input type="button" class="w-15 btn btn-secondary" value="Clear" id="btnClear"
                       onclick="clearSearch()"/>
            </form>
        </div>

    </div>
</section>
</br>
<div class="container-xl p-0 container-bg rounded" th:switch="${authors}">
    </br>
    <div class="container-xl pl-3">
        <p><a href="/author-create" class="btn btn-outline-info">Create author</a></p>
    </div>
    <h2 class="alert alert-warning text-center" th:case="null">No authors found!</h2>
    <div th:case="*">
        <div class="container-xl p-3">
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="author : ${authors}">
                    <td th:text="${author.id}"></td>
                    <td><a th:href="@{/author-page?author_id={id}(id=${author.id})}" th:text="${author.firstName}"></a>
                    </td>
                    <td><a th:href="@{/author-page?author_id={id}(id=${author.id})}" th:text="${author.lastName}"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/authors}]]";
    }
</script>
</body>
</html>