.container-bg{
    background-color: rgba(233, 236, 239, 0.9);
}
hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.book-pg-info{
    height: 20%;
    padding-left: 0;
    padding-right: 0;
}
.book-pg-label{
    float: left;
    font-family: American Typewriter, serif;
    font-weight: 600;
    font-size: large;
    padding-left: 0;
    padding-right: 0;
}
.book-pg-prop{
    float: left;
    padding-left: 0;
    padding-right: 0;
    font-family: American Typewriter, serif;
    font-size: large;
}
.index-btn-min-width{
    min-width: 70px;
}
.jumbotron {
    background: rgba(233, 236, 239, 0.9);
}
.bg-img-prop{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.search-btn-prop{
    padding-left: 0;
    padding-right: 0;
}