<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Create new book</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous">
    <link th:href="@{/css/container-bg.css}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>
    <style>
        body{
            background-image: url("https://images.unsplash.com/photo-1517244649640-fcacab5ce213?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=658&q=80");
        }
    </style>
</head>

<body class="bg-img-prop">
<div th:replace="fragments/navbar :: navbar"></div>

<div class="container-fluid pt-3 pb-1 text-center container-bg">
    <h2>Create new book</h2>
    <hr class="style-one">
</div>
</br>
</div>
<div class="container-md pt-3">
    <div class="form-group">
        <form action="#" th:action="@{/book-create}" th:object="${book}" method="post">
            <label for="title">Title</label>
            <input class="form-control" type="text" th:field="*{title}" id="title" placeholder="Title">
            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger"></span>
            <br>
            <label for="author">Author</label>
            <select class="form-control" th:field="*{author}" id="author">
                <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.firstName + ' ' + author.lastName}"></option>
            </select>
            <br>
            <label for="genre">Genre</label>
            <select class="form-control" th:field="*{genre}" id="genre">
                <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.genre_name}"></option>
            </select>
            <br>
            <label for="pages">Pages</label>
            <input class="form-control" type="number" th:field="*{pages}" id="pages" min="0" placeholder="Pages">
            <span th:if="${#fields.hasErrors('pages')}" th:errors="*{pages}" class="text-danger"></span>
            <br>
            <label for="quantity">Quantity</label>
            <input class="form-control" type="number" th:field="*{quantity}" id="quantity" min="0" placeholder="Quantity">
            <span th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" class="text-danger"></span>
            <br>
            <label for="description">Description</label>
            <textarea class="form-control" rows="3" th:field="*{description}" id="description"
                      placeholder="Description"></textarea>
            <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger"></span>
            <br>
            <input class="btn btn-info btn-block" type="submit" value="Create new Book">
        </form>
    </div>
</div>
</body>
</html>