<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="ISO-8859-1">
    <title>Users</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous">
    <link th:href="@{/css/books-list.css}" rel="stylesheet">
    <link th:href="@{/css/container-bg.css}" rel="stylesheet">
    <style>
        body{
            background-image: url("https://cdn.pixabay.com/photo/2016/10/11/22/26/book-1732953_960_720.jpg");
            background-size: cover;
        }
    </style>
</head>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/books}">Books</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/users}">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/authors}">Authors</a>
        </li>
        <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link" th:href="@{/logout}">Logout</a>
        </li>
    </ul>
</nav>

<body>
<div class="container-fluid pt-3 pb-1 text-center container-bg">
    <h2>Users</h2>
    <hr class="style-one">
</div>
</br>
<section class="search-sec container-bg">
    <div class="container">
        <div class="col-lg-12">
            <form class="d-flex flex-row" th:action="@{/users}">
                <div class="w-15 justify-content-center align-self-center"> Filter:</div>
                <input type="text" class="form-control search-slt" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
                &nbsp;
                <input type="submit" class="w-15 btn btn-info" value="Search" />
                &nbsp;
                <input type="button" class="w-15 btn btn-secondary" value="Clear" id="btnClear" onclick="clearSearch()" />
            </form>
        </div>
    </div>
</section>


</br>
<div class="container-xl p-0 container-bg" th:switch="${users}">
    </br>
    <div class="container-xl pl-3">
        <p><a href="/user-create" class="btn btn-outline-info">Create user</a></p>
    </div>

    <h2 class="alert alert-warning text-center" th:case="null">No users found!</h2>
    <div th:case="*">
        <div class="container-xl p-3">
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.email}"></td>
                    <td><a th:href="@{/user-update?user_id={id}(id=${user.id})}">Edit</a></td>
                    <td><a th:href="@{/user-delete?user_id={id}(id=${user.id})}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/users}]]";
    }
</script>
</body>
</html>